<section class="top-banner" style="background-image: url({{ page.banner-image }})">
  <header>
    <!-- This is where the logo and nav go -->

    <nav class="no-padding nav-box">
      <a href="http://www.globetrottinggingertravel.com">Home</a>
      <a href="/">Institute of Code</a>
      <a href="itinerary">Itinerary</a>
      <a href="activities">Activities</a>
      <a href="faces-of-ioc">Faces of IOC</a>

    </nav>
  </header>

  <div class="padding">
    <h1 class="animated slideInUp">{{ page.title }}</h1>
    <h2>{{ page.subtitle }}</h2>
  </div>

</section>
