
<!-- This is the Footer with links to my social media -->

<footer>

  <div class="grid">
    <div class="col">
      <i class="fa fa-tree" aria-hidden="true"></i>
      <h3>Recent Posts</h3>
      <ul>
        <li><a href="http://www.globetrottinggingertravel.com/glamping-moab-canvas-utah/">Glamping at Moab Under Canvas</a></li>
        <li><a href="http://www.globetrottinggingertravel.com/staying-artist-room-park-hotel-tokyo/">Staying in an Artist Room at Park Hotel Tokyo</a>
        <li><a href="http://www.globetrottinggingertravel.com/9-ways-prepare-solo-travel/">9 Ways to Prepare for Solo Travel</a>
      </ul>
    </div>

    <div class="col">

      <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/427aefec4b675295bd941d717257e405.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>

    </div>


    <div class="col">
      
      <img src="images/newsletter.jpg">
      <a href="mailto:globetrottinggingertravel@gmail.com">globetrottinggingertravel@gmail.com</a>
    </div>

  </div>

  <div class="grid">
    <div class="col-6_sm-12">
      <h3>Globetrotting Ginger Travel</h3>
      <p>copyright 2017</p>
    </div>

    <nav class="col-6_sm-12">
      <!-- This is my Social Media nav -->
      <a href="https://www.facebook.com/aubrie.engman" target="_blank">Facebook</a>
      <a href="https://www.instagram.com/globetrotting_gingertravel" target="_blank">Instagram</a>
      <a href="">Twitter</a>
    </nav>
  </div>
</footer>
