<section class="top-banner grid">

  <video controls autoplay loop >
  <source src="{{page.video_path}}" type="video/mp4">
  </video>

  <header class="col-12">
    <!-- This is where the logo and nav go -->

    <nav class="no-padding nav-box">
      <a href="http://www.globetrottinggingertravel.com">Home</a>
      <a href="/">Institute of Code</a>
      <a href="itinerary">Itinerary</a>
      <a href="faces-of-ioc">Faces of IOC</a>

    </nav>
  </header>

  <div class="padding col-12-middle">
    <h1 class="animated slideInUp">{{ page.title }}</h1>
    <h2>{{ page.subtitle }}</h2>
  </div>

</section>
