
<!-- This is the Footer with links to my social media -->
  <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/224267383ba35228ba1730027d61f061.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
<footer>
  <div class="grid">
    <div class="col-6_sm-12">
      <h3>Globetrotting Ginger Travel</h3>
      <p>Copyright 2017</p>
    </div>

    <nav class="col-6_sm-12">
      <!-- This is my Social Media nav -->
      <a href="https://www.facebook.com/aubrie.engman" target="_blank">Facebook</a>
      <a href="https://www.instagram.com/globetrotting_gingertravel" target="_blank">Instagram</a>
      <a href="">Twitter</a>
    </nav>
  </div>
</footer>
