<!DOCTYPE html>
<html>

  <!-- This is my head  -->
  <head>
    <title>Mini Webpages for Globetrotting Ginger</title>
      <link rel= "stylesheet" href= "style.css">

  </head>

  <!-- This is my body -->

  <body>
    <header>

      <nav class="centered white-boxed">
        <a href="">Itinerary</a>
        <a href="">Activities</a>
        <a href="">Faces of IOC</a>
        <a href="">Is It Worth It?</a>
      </nav>

      <h1 class="animate bounce"> Institute of Code</h1>


    </header>


    {{content}}


    <footer>
      <h2>Globetrotting Ginger Travel</h2>
      <p>copyright 2017</p>

      <script type="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1.jquery.min/js"></script>

      <script type="text/javascript" src="scripts/main.js"></script>

    </footer>



  </body>

</html>
